<div>
<div class="fullCard">
  <img src="../assets/logo.PNG" id="logo">
</div>
<div class="fullCard">
    <div class="prodplace">
      <h1 class="text1"><b>Select Gift: Birthday</b></h1>
    <hr>
    <div class="absolute1">
        <p>Order status:</p> 
        <p>Chargint to:</p> 
        <p>Budget:</p> 
    </div>
    <hr>
    <p class="text2">Recommended gift</p>
  
      <div class="absolute2">
          <img src="../assets/garmin.PNG">
        <h1>Garmin Forerunner 45 GPS Running Watch</h1>
      </div>

      <hr>
      <p class="text2">Change gifts</p>
    
    
      <div class="card">
        <img src="../assets/cardimage.PNG" alt="" style="width: 80%;">
        <div class="container">
          <h2><b>Product name1</b></h2>
          <h1><b>$122 </b></h1> <p>Score: 77</p>
        </div>
        <button class="button">Buy</button>
      </div>

      <div class="card">
          <img src="../assets/cardimage.PNG" alt="" style="width: 80%;">
          <div class="container">
            <h2><b>Product name2</b></h2>
            <h1><b>$118 </b></h1> <p>Score: 67</p>
          </div>
          <button class="button">Buy</button>
        </div>

        <div class="card">
            <img src="../assets/cardimage.PNG" alt="" style="width: 80%;">
            <div class="container">
              <h2><b>Product name3</b></h2>
              <h1><b>$102 </b></h1> <p>Score: 65</p>
            </div>
            <button class="button">Buy</button>
          </div>
    
    </div>
</div>
<div class="fullCard">
  <footer id="footer">footer</footer>  
</div>
</div>